venv/
node_modules/
__pycache__/
*.pyc
.DS_Store
.env
logs/
records/
*.db
*.log
*.csv
target/
dependency-reduced-pom.xml

# Compiled binaries, packages & libraries
*.class
*.war
*.ear
*.lib
tools/*.jar
*.jar
!src/main/webapp/WEB-INF/lib/*.jar
!etc/maven-ant-tasks.jar
