<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Spring 5 ScheduledExecutorService configuration as Spring context -->
    <bean class="org.springframework.scheduling.concurrent.ScheduledExecutorFactoryBean">
        <property name="scheduledExecutorTasks">
            <list>
                <ref bean="pollingTimer"/>
                <ref bean="hourlyTimer"/>
            </list>
        </property>
    </bean>

    <bean id="hourlyTimer" class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
        <!-- wait 60 seconds before starting repeated execution -->
        <property name="delay" value="60000"/>
        <!-- run every 60 * 60 seconds -->
        <property name="period" value="3600000"/>
        <property name="runnable">
            <bean class="org.springframework.scheduling.support.MethodInvokingRunnable">
                <property name="targetObject" ref="jtrac"/>
                <property name="targetMethod" value="executeHourlyTask"/>
            </bean>
        </property>
    </bean>

    <bean id="pollingTimer" class="org.springframework.scheduling.concurrent.ScheduledExecutorTask">
        <!-- wait 60 seconds before starting repeated execution -->
        <property name="delay" value="60000"/>
        <!-- run every 5 * 60 seconds -->
        <property name="period" value="300000"/>
        <property name="runnable">
            <bean class="org.springframework.scheduling.support.MethodInvokingRunnable">
                <property name="targetObject" ref="jtrac"/>
                <property name="targetMethod" value="executePollingTask"/>
            </bean>
        </property>
    </bean>
           
</beans>
